<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="contentBackground">
    	<div class="logoDivImg" align="center">
        	<div>
            	<img src="img/intro_logo.png" style="width:100%" />
            </div>
        </div>
        <div  class="insertNumberTextDiv" align="center">
        	<div class="insertNumberIcon">
            	<img src="img/enter_icon.png" style="width:100%" />
            </div>
        	<input type="text" class="insertNumberText" ng-model="fields.username" placeholder="הכנס שם משתמש" />
			
			<div class="padding">
			</div>
        	<div class="insertNumberIcon">
            	<img src="img/enter_icon.png" style="width:100%" />
            </div>
			
			<input type="password" class="insertNumberText" ng-model="fields.password" placeholder="הכנס סיסמה" />
            
            <div class="projectButton" ng-click="enterAdmin()">
				<button class="button button-block button-positive">
				  כניסה
				</button>
            </div>
        </div>
  </ion-content>
</ion-view>
