<ion-view view-title="{{navTitle}}"  cache-view="false">
  <ion-content class="contentBackground">
 	<div align="center">
	
	<!--
	| orderObjectBy:'unread':true 
	
	ui-sref="app.manageappusers({ApparmentId: appId,ItemId: -1})"
	-->
	
	<div >
		<button class="button button-block button-positive" ng-click="newUserOptions()">
		  הוספת משתמש
		</button>	
	</div>
	
 
	<div class="list"  style="margin-top:-6px; padding-bottom:120px;">

		<div class="qrItem" ng-repeat="item in UsersArray " >
        	<div class="qrContent">
            	<div class="qrImage" align="left" >
                	<img  src="{{serverHost}}/{{item.image}}" ng-if="item.image" style="width:100%">
					<img  src="img/avatar.png" ng-if="!item.image" style="width:100%">
                </div>
                <div class="qrInfo"  style="height:50px;">
                	 <h2 style="direction:rtl;">שם מלא: {{item.name}}</h2>
					 <h2 style="direction:rtl;">טלפון: {{item.phone}}</h2>
                </div>
                <div class="qrshare" style="float:right; margin-right:30px;"  >
                	
					<!--
                	<div>
						<span  class="badge badge-royal"  style="">3</span>
					</div>
					-->
					
					
					<div >
						<div ui-sref="app.manageappusers({ApparmentId:appId,ItemId: $index})">
							<img src="img/edit_icon.png" style="width:100%;">
						</div>
						<div ng-click="deleteUser($index,item.index)">
							<img src="img/delete.png" style="width:100%;">
						</div>
					</div>
					
                </div>

                <div class="whiteLine"></div>
            </div>
		</div>

		


		
		
	</div>	
	
	</div>
   	
  </ion-content>
</ion-view>
