<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>
 	<div align="center">
	
	<div class="shortImage">
                <img src="{{serverHost}}/{{projectImage}}" />  
                <div class="shortImageBlack">
                    
                </div>
                <div class="shortImageBlackIcon" >
                        <img  src="img/addproject.png" style="width:100%" />
                </div>
        </div>
		
        <div style="width:100%; margin-top:10px;" align="center" ui-sref="app.manageapartments({BuildingId: buildingid,ItemId: -1})">
            <div style="width:90%">
                <img src="img/add_apartment.png" style="width:100%" />
            </div>
        </div>
        
	
 
	<!--<div class="list">

		<div class="qrItem" ng-repeat="item in ApartmentsArray " >
        	<div class="qrContent">
            	<div class="qrImage" align="left" ui-sref="app.apartmentdetails({ItemId: item.index})">
                	<img  src="{{serverHost}}/{{item.image}}" style="width:100%">
                </div>
                <div class="qrInfo" ui-sref="app.apartmentdetails({BuildingId: -1,ItemId: item.index})" style="height:50px;">
                	 <h2>דירה מספר {{item.dira_mispar}}</h2>
                </div>
                <div class="qrshare" style="float:right; margin-right:30px;"  >
                	
				
					
					
					<div >
						<div ui-sref="app.editpartment({ItemId: $index})">
							<img src="img/edit_icon.png" style="width:100%;">
						</div>
						<div ng-click="deleteApp($index,item.index)">
							<img src="img/edit_icon.png" style="width:100%;">
						</div>
					</div>
					
                </div>

                <div class="whiteLine"></div>
            </div>
		</div>-->

		
        
         <div class="list">
        
                <div class="qrItem" ng-repeat="item in ApartmentsArray" >
                    <div class="qrContent">
                        <div class="qrImage" align="left" ui-sref="app.apartmentdetails({ItemId: item.index})">
                            <img  src="img/square.png">
                        </div>
                        <div class="qrInfo" ui-sref="app.apartmentdetails({BuildingId: -1,ItemId: item.index})" style="height:50px;">
                             <h2> דירה מספר {{item.dira_mispar}}</h2>
                             <p> {{ProjectName}}</p>
                        </div>
                        <div class="qrshare" style="float:right; margin-right:30px; margin-top:10px;"  >
						<!--
                            <div ui-sref="app.editpartment({ItemId: $index})">
                                <img src="img/edit_icon.png" style="width:100%;">
                            </div>
						-->
                            <div ng-click="deleteApp($index,item.index)"">
                                <img src="img/delete.png" style="width:100%;">
                            </div>
                        </div>
                    </div>
                    <div class="whiteLine" ></div>
                </div>
          </div>	
          
          


		
		
	</div>	
	
	</div>
   	
  </ion-content>
</ion-view>
