<ion-view view-title="{{navTitle}}"  cache-view="false">
  <ion-content class="has-header has-footer" overflow-scroll="false">
  		<!-- Header Bar Buttons -->
  		<div class="chatButtons">
            <div class="chatLeft" align="center">
            	<div ng-click="setactiveTab(0)">
                	<img ng-if="activeTab == 0" src="img/tabs/active2.jpg" style="width:100%" />
                    <img ng-if="activeTab == 1" src="img/tabs/nactive2.jpg" style="width:100%" />
                </div>
            </div>
            <div class="chatRight" align="center">
            	<div ng-click="setactiveTab(1)">
                	<img ng-if="activeTab == 0" src="img/tabs/nactive1.jpg" style="width:100%" />
                    <img ng-if="activeTab == 1" src="img/tabs/active1.jpg" style="width:100%" />
                </div>
            </div>
        </div>
        
        <!-- projects   ui-sref="app.apartmentdetails({ItemId: item.index})"-->
         <div class="qrItem" ng-repeat="item in projects" >
                    <div class="qrContent" ng-if="item.complete != activeTab">
                    	<div ui-sref="app.chatDetails({ItemId: item.index})">
                            <div class="qrImage" align="left" >
                                <img ng-if="item.image" src="{{serverhost}}/{{item.image}}">
								<img ng-if="!item.image" src="img/intro_logo.png">
                            </div>
                            <div class="qrInfo" style="height:50px;">
                                 <h2>{{item.error}}</h2>
                                 <p>  קטגורייה :  {{item.categoryName}}</p>
                            </div>
                         </div>
                        <div class="qrshare" style="float:right; margin-right:30px; margin-top:10px;"  >
                            <div ui-sref="app.EditChatProject({ItemId: item.index})">
                                <img src="img/edit_icon.png" style="width:100%;">
                            </div>
                            <div ng-click="deleteProject(item.index)">
                                <img src="img/delete.png" style="width:100%;">
                            </div>
                        </div>
                    </div>
                    <div class="whiteLine" ng-if="item.complete != activeTab" ></div>
         </div>
  </ion-content>
  
  <div class="bar bar-footer" style=" background-color:white; height:80px;">
      <div align="center"> 
      	<div style="width:80%" ui-sref="app.chatProject"> 
      		<img src="img/bugbtn.jpg" style="width:100%" />
        </div>
      </div>
  </div>	
  
</ion-view>

