<ion-view view-title="{{navTitle}}" >
  <ion-content>
 	<div align="center">
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="img/change.png" style="width:100%;" />
            </div>
        </div>
        
       
	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">


	
	
    <div class="addImageMangeProject"  align="center" ng-click="savePlanImage()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
        </div>
        
	


	
	
	</div>
   	
  </ion-content>
</ion-view>
