<ion-view view-title="{{navTitle}}" >
  <ion-content class="contentBackground">
 	<div align="center">
	

	<div class="list">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם מלא">
	  </label>	
	  <label class="item item-input">
		<input type="tel" ng-model="fields.phone" placeholder="טלפון">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.mail" placeholder="מייל">
	  </label>  
	</div>
	

	<div ng-click="saveUser()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
   	
  </ion-content>
</ion-view>
