<!--
<div class="bar bar-footer bar-dark" style="background-color:black; height:80px;">
      <a class="footerBtn" ng-click="openGallery()">
      	<img src="img/f3.png" style="width:90%" />
      </a>
      <a class="footerBtn" ng-click="contactPopup()">
      	<img src="img/f4.png" style="width:90%" />
      </a>
</div>	
-->

<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content  overflow-scroll="false">
 	<div align="center" style="padding-bottom:0px;">
	
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
	
	  <ion-slide > 
		<img src="{{serverHost}}/{{projectData.image}}" style="width:100%;">
	  </ion-slide>

	  <ion-slide ng-repeat="item in projectGallery"> 
		<img src="{{serverHost}}/{{item.image}}" style="width:100%;">
	  </ion-slide>
	</ion-slide-box>

	
		<!--
		<img src="{{serverHost}}/{{projectData.image}}" style="width:100%;">
		-->
        
		<div style="width:100%; margin-top:20px;" align="center" >
        	<div style="width:80%">
            	<p class="ApartmentDetailsProjectName">{{projectData.name}}</p>
                <p class="ApartmentDetailsDiscriptionName">{{projectData.address}}</p>
				<p class="ApartmentDetailsDiscriptionName">{{projectData.desc}}</p>
            </div>
        </div>
        
        <div class="whiteLine" ></div>
		

		<button class="button button-block button-positive" ng-click="openWaze()">
		  WAZE
		</button>     

		<button class="button button-block button-positive" ng-click="contactPopup()" >
		  תאם פגישה
		</button>     	
		
		<!--
		<button class="button button-block button-positive" ng-click="openGallery()">
		  גלרייה
		</button>     
		-->
		

			</div>



	



	  

   	
  </ion-content>
</ion-view>
