<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content >
 	<div align="center">
		 <div class="shortImage">
                <img src="{{serverHost}}/{{projectImage}}" />  
        </div>
        
		<div style="width:100%; margin-top:10px;" align="center">
        	<div style="width:80%">
            	<p class="ApartmentDetailsProjectName">{{projectName}}</p>
                <p class="ApartmentDetailsDiscriptionName">{{projectAddress}}</p>
            </div>
        </div>
        
        <div class="whiteLine" ></div>
		
		
        <div class="MifratList" align="center">

		<div class="list">

			<div class="item item-thumbnail-right" ng-repeat="item in AppMifratim" ng-click="goMifratDetails($index)">
			  <img  src="{{serverHost}}/{{item.image}}">
			  <p>{{item.name}}</p>
			</div>

		  

		</div>


		
		<!--
       	<div  style="width:90%;">
                <div class="mifratItem" ng-repeat="item in AppMifratim" ng-click="goMifratDetails($index)">
                    <img ng-if="item.image" src="{{serverHost}}/{{item.image}}" style="width:100%" />
                    <p>{{item.name}}</p>					
                </div>
           	</div>
        </div>
		-->



    </div>

		
		

   	
  </ion-content>
</ion-view>
