<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">תאם פגישה</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="contactClose()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
  
	<div class="addProjectList" align="center" style="margin-top:20px;">
	  <label class="item item-input">
		<input type="text" ng-model="contact.name" placeholder="שם מלא">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="contact.phone" placeholder="טלפון">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="contact.email" placeholder="מייל">
	  </label>	  
	  <label class="item item-input">
		<textarea ng-model="contact.desc"  placeholder="תוכן הפניה"></textarea>
	  </label>
	</div>
	
	
    <div class="addImageMangeProject"  align="center" ng-click="sendContact()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/send.png" style="width:100%;" />
            </div>
        </div>
        
		
		
  </ion-content>
</ion-modal-view>
