<ion-view view-title="{{navTitle}}" >
  <ion-content>
 	<div align="center">
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="img/change.png" style="width:100%;" />
            </div>
        </div>
        
       
	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">

	<div class="addProjectList">
	 
      <label class="item item-input item-select itemSelected">
		<div class="input-label itemSelectedLabel" style="background-color:white !important; height:40px;"></div>
		<select ng-model="fields.category">
			<option value=""   >יש לבחור קטגורייה</option>
			<option ng-selected="fields.category == item.index" value="{{item.index}}"  ng-repeat="item in Categories" >{{item.name}}</option>
		</select>
	</label>
    
   
                    
                    
    
	  <label class="item item-input">
		<input type="text" ng-model="fields.place"   placeholder="מיקום בבית">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.error" placeholder="פירוט תקלה">
	  </label>
	</div>
	
	
    <div class="addImageMangeProject"  align="center" ng-click="UpdateProject()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/send.png" style="width:100%;" />
            </div>
    </div>
    
	


	
	
	</div>
   	
  </ion-content>
</ion-view>
