<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content class="contentBackground">
 	<div align="center">
	

	<div class="list">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם איש קשר">
	  </label>	
	  <label class="item item-input">
		<input type="tel" ng-model="fields.phone" placeholder="טלפון איש קשר">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.mail" placeholder="מייל איש קשר">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="fields.koma" placeholder="מספר קומה">
	  </label> 
	<!--
	<label class="item item-input item-select">
		<div class="input-label">
			בחירת מפרט דירה
		</div>
		<select ng-model="fields.mifratid">
			<option value=""   >יש לבחור מפרט</option>
			<option value="{{item.mifrat_id}}"  ng-repeat="item in MifratimArray" >{{item.name}} </option>
		</select>
	</label>	  
	-->
	</div>
	

	<div ng-click="saveApp()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
   	
  </ion-content>
</ion-view>
