<ion-view view-title="{{navTitle}}" cache-view="false">
  <ion-content>
 	<div align="center">
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div >
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
        </div>


	<div ng-repeat="item in imagesArray">
		<div style="width:100%;">
		<div style="width:20%;">
			<img src="{{serverHost}}/{{item.image}}" style="width:100%;">
		</div>
			
		</div>
		
		
	</div>

	
       
	<div class="addProjectList">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="שם הפרויקט">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.address" g-places-autocomplete force-selection="false" options="autocompleteOptions"  placeholder="כתובת">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="fields.buildings" placeholder="מספר בניינים">
	  </label>	  
	  
	  <div ng-repeat="i in fields.buildings | range" ng-if="fields.buildings > 0">
		  <div align="right">
			מספר בניין: {{$index+1}}
		  </div>
		  <label class="item item-input">
			<input type="text" ng-model="buildings[$index].name" placeholder="שם בניין">
		  </label>
		  <label class="item item-input">
			<input type="tel" ng-model="buildings[$index].mispar_dirot" placeholder="מספר דירות">
		  </label>	  
	  </div>
	  

	  <label class="item item-input">
		<input type="tel" ng-model="fields.phone" placeholder="טלפון">
	  </label>
	  <label class="item item-input">
		<input type="text" ng-model="fields.facebook" placeholder="פייסבוק">
	  </label>	  
	  <label class="item item-input">
		<textarea ng-model="fields.desc" ng-bind-html="fields.desc | html" placeholder="תיאור הפרויקט"></textarea>
	  </label>
	  
	<label class="item item-input item-select">
	
		<div class="input-label">
			סטטוס
		</div>

		<select ng-model="fields.status">
			<option value="" selected>בחירת סטטוס הפרויקט</option>
			<option value="1">בביצוע</option>
			<option value="2">בתכנון</option>
			<option value="3">מאוכלס</option>
		</select>
	</label>

	  
	</div>
	
	
    <div class="addImageMangeProject"  align="center" ng-click="saveProject()">
        	<div style="width:80%; margin-top:20px; margin-bottom:30px;">
            	<img src="img/save.png" style="width:100%;" />
            </div>
    </div>
        
		


	
	
	</div>
   	
  </ion-content>
</ion-view>
