<ion-view view-title="{{navTitle}}" >
  <ion-content class="contentBackground">
 	<div align="center">
	

	<div class="list">
	

	
	
    <div   ng-repeat="item in dirotArray"  style="top:35px; overflow:hidden">
            <div class="toogle" style=" "> 
               <div class="tooglLeft">
                    {{item.index}} דירה מספר
               </div>
               <div  align="center" ng-class="{ 'ActiveCircleToogle': item.selected == 1 , 'NonActiveCircleToogle': item.selected == 0 ,  'NonActiveBlackCircleToogle': item.selected == 2 }" ng-click="selectApp($index,item.index,item.selected)">
                   <div></div>
               </div>
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>
	


	</div>
	

	<div ng-click="saveApparment()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
   	
  </ion-content>
</ion-view>
