<ion-view style="background-color: transparent;">

    <img src="img/logo.png" style="width:80px; margin-top:20px;">

    <div class="ChatMainDiv rtl">

        <div style="width:100%" align="center">
        	<textarea rows="5" ng-model="PopupReview.title" style="width:90%; padding:10px; height: 150px; background-color:#f5f5f5"> </textarea>
        </div>

        <div class="ChatButton" ng-click="HideChatPopup()">
            <div class="ChatButtonText">הבנתי</div>
        </div>

    </div>

</ion-view>
