<ion-view view-title="{{navTitle}}" >
  <ion-content class="contentBackground">
 	<div align="center">
	

	<div class="list">
	  <label class="item item-input">
		<input type="text" ng-model="fields.name" placeholder="כותרת">
	  </label>	
	  <label class="item item-input">
		<input type="tel" ng-model="fields.hadarim" placeholder="מספר חדרים">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="fields.godeldira" placeholder="גודל דירה">
	  </label>
	  <label class="item item-input">
		<input type="tel" ng-model="fields.godelmirpaset" placeholder="גודל מרפסת">
	  </label> 
	<label class="item item-input item-select">
		<div class="input-label">
			בחירת מפרט דירה
		</div>
		<select ng-model="fields.mifratid">
			<option value=""   >יש לבחור מפרט</option>
			<option value="{{item.index}}"  ng-repeat="item in MifratimArray" >{{item.name}} </option>
		</select>
	</label>

	<label class="item item-input item-select">
		<div class="input-label">
			בחירת תוכנית
		</div>
		<select ng-model="fields.planid">
			<option value=""   >יש לבחור תוכנית</option>
			<option value="{{item.index}}"  ng-repeat="item in PlanListArray" >{{item.name}} </option>
		</select>
	</label>

	
	</div>
	

	<div ng-click="saveApartment()">
		<button class="button button-block button-calm" >
		  שמירה
		</button>
	</div>	


	
	
	</div>
   	
  </ion-content>
</ion-view>
