<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">


  <ion-content class="contentBackground">

	<div align="center">

	<!--
	<button class="button button-block button-positive" ng-click="pictureChoser()">
	  העלאת תמונה
	</button>
	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">
	-->
	
	
	<div class="list">
	  <label class="item item-input">
		<input type="text" ng-model="fields.title" placeholder="כותרת">
	  </label>
 
	</div>

    <div  ng-repeat="item in MifratArray"  style="padding-bottom:0px; z-index:1; position:relative; top:35px; background-color:green; overflow:hidden">
            <div class="toogle" style=" "> 
               <div class="tooglLeft">
                    {{item.name}}
               </div>
               <div ng-class = "item.selected == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="selectCatagory($index,item.index)">
                   <div></div>
               </div>
               <div class="lineToogle">
                    <img src="img/line.png" style="width:100%;" />
                </div>
         </div>
    </div>	
	
	
<div class="bar bar-footer bar-positive" ng-click="saveMifrat()">
  <div class="title">שמירת מפרט</div>
</div>

	

	
	</div>
  </ion-content>
</ion-view>
