<ion-view view-title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="contentBackground">

	<div align="center">

	
		<div class="addImageMangeProject"  align="center" ng-click="pictureChoser()">
        	<div ng-if="!fields.serverimage">
            	<img src="img/add_image.png" style="width:100%;" />
            </div>
            <div ng-if="fields.serverimage">
            	<img src="img/change.png" style="width:100%;" />
            </div>
        </div>


	<img src="{{fields.serverimage}}"  ng-if="fields.serverimage" style="width:100%;">

	
	
	<div class="list">
	  <label class="item item-input">
		<input type="text" ng-model="fields.title" placeholder="כותרת">
	  </label>

	  <label class="item item-input">
		<textarea placeholder="תיאור המפרט" ng-model="fields.desc"></textarea>
	  </label>
	  
	  
	</div>

	<div class="padding">
        <button class="button button-block button-positive" ng-click="saveMifrat()">שליחה</button>
      </div>	
	
	</div>
  </ion-content>
</ion-view>
