<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content >
 	<div align="center">
		 <div class="shortImage">
                <img src="img/short2.png" />  
        </div>
        
		<div style="width:100%; margin-top:10px;" align="center">
        	<div style="width:80%">
            	<p class="ApartmentDetailsProjectName">{{projectName}}</p>
                <p class="ApartmentDetailsDiscriptionName">{{projectAddress}}</p>
            </div>
        </div>
        
        <div class="whiteLine" ></div>
		
		<div align="center">
			<p ng-if="mifratDetails.image">
				<img src="{{serverHost}}/{{mifratDetails.image}}" style="100%;">
			</p>		
		</div>
		
		<div align="right" style="direction:rtl;"> 
			<p>{{mifratDetails.name}}</p>
			<p>ספק: {{mifratDetails.supplier}}</p>
			<p>כמות: {{mifratDetails.quan}}</p>
			<p>זיכוי חברה: {{mifratDetails.company_promo}}</p>
			<p>תיאור: {{mifratDetails.desc}}</p>
		</div>

			<!--<div class="item item-thumbnail-left" ng-click="goGallery(item[0].index,item[0].count)" ng-repeat="item in mifratimArray">
			  <img ng-if="item[0].image" src="{{serverHost}}/{{item[0].image}}">
			  <h2>{{item[0].name}}</h2>
			</div>-->
	


    </div>

		
		

   	
  </ion-content>
</ion-view>
