<ion-view view-title="{{navTitle}}" cache-view="false" hide-back-button="true">
  <ion-content>
        <div align="center">
            <div class="shortImage">
                <img src="img/short.png" />
                <div class="shortImageBlack">
                    
                </div>
                <div class="shortImageBlackIcon" ui-sref="app.manageproject({ItemId: -1})">
                        <img  src="img/addproject.png" style="width:100%" />
                </div>
            </div>
            
            
            <div class="list">
        
                <div class="qrItem" ng-repeat="item in ProjectsArray " >
                    <div class="qrContent">
                        <div class="qrImage" align="left" ng-click="gotoProject(item.index,item.count,item.lastid,item.image)">
                            <img  src="{{serverHost}}/{{item.image}}">
                        </div>
						
                        <div class="qrInfo" ng-click="gotoProject(item.index,item.count,item.lastid,item.image)"  style="height:50px;">
                             <h2>{{item.name}}</h2>
                             <p> מספר בניינים : {{item.count}}</p>
                        </div>
                        <div class="qrshare" style="float:right; margin-right:30px;"  >
                            <div ui-sref="app.manageproject({ItemId: item.index})">
                                <img src="img/edit_icon.png" style="width:100%;" >
							</div>
							
                            <div ng-click = "deleteProject($index,item.index)">
                                <img src="img/delete.png" style="width:100%;" >
							</div>

							
							<div ui-sref="app.projectsettings({ProjectId: item.index})" >
								<img src="img/i3.png" style="width:100%;">
                            </div>
                        </div>
        
                        <div class="whiteLine"></div>
                    </div>
                </div>
            </div>	
        </div>
  </ion-content>
</ion-view>
